{% extends "registration/base.html" %}
{% load crispy_forms_tags %}
{% load icon %}
{% load static %}
{% block content %}
        <form method="POST" class="form-signin border">
            <img src="{% static 'img/logo.png' %}" class="logo mb-5" alt="logo">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{% icon 'log-in' %} Logg inn </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-secondary" type="submit">Logg inn</button>
            </div>
        </form>
{% endblock content %}
