{% load brukerliste_tags %}
{% load invoicing_tags %}
{% load crispy_forms_tags %}
{% load icon %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">


    <title>{% block title %}{% endblock %} Foss-seterveien</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/multi.js/dist/multi.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <script src="{% static 'js/multi.js/dist/multi.min.js' %}"></script>


    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  </head>

  <body>
    <!--
        <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
          <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
          <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
          <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
              <a class="nav-link" href="#">Sign out</a>
            </li>
          </ul>
        </nav>
    -->
    <div class="container-fluid">
      <div class="row">
        <nav id="sidebar" class="navbar col-md-2 d-none d-md-none d-md-block bg-light sidebar inactive">
          <div class="col-sm-12 bg-header p-0 m-0 d-flex justify-content-between">
                    <img src="{% static 'img/logo.png' %}" class="logo" alt="logo">
                  <button type="button" id="sidebarCollapseInner" class="d-md-none  navbar-toggler">
                      {% icon "menu" color="white" %}
                    </button>
          </div>
          <div class="sidebar-sticky">
            {% with request.resolver_match.url_name as url_name %}
            <ul class="nav flex-column">
              <li class="nav-item">
                  <a class="nav-link {% if url_name == 'brukerliste' %}active{% endif %}" href="{% url 'brukerliste' %}">
                  {% icon "users" class="feather" %}
                  Brukerliste 
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {% if url_name == 'ny-bruker' %}active{% endif %}" href="{% url 'ny-bruker' %}">
                      {% icon "user-plus" class="feather" %}
                      Ny bruker</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {% if url_name == 'overdragelser' %}active{% endif %} " href="{% url 'overdragelser' %}">
                      {% icon "book" class="feather" %}
                      Overdragelser</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {% if url_name == 'statistikk' %}active{% endif %} " href="#">
                      {% icon "bar-chart-2" class="feather" %}
                      Statistikk</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {% if url_name == 'logout' %}active{% endif %}" href="{% url 'logout' %}">
                      {% icon "log-out" class="feather" %}
                      Logg ut</a>
              </li>
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              Fakturering
            </h6>
            <ul class="nav flex-column mb-5">
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'faktura-liste' %}active{% endif %}" href="{% url 'faktura-liste' %}">
                  {% icon "book-open" class="feather" %}
                    Fakturaoversikt</a>
              </li>
              <li class="nav-item">
                    <a class="nav-link {% if url_name == 'faktura-lag' %}active{% endif %}" href="{% url 'faktura-lag' %}">
                      {% icon "file-plus" class="feather" %}
                        Ny faktura</a>
              </li>
              <li class="nav-item">
                    <a class="nav-link {% if url_name == 'faktura-lag-alle' %}active{% endif %}" href="{% url 'faktura-lag-alle' %}">
                      {% icon "file-plus" class="feather" %}
                        Lag alle fakturaer</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {% if url_name == 'vannavgift' %}active{% endif %}" href="#">
                      {% icon "file-text" class="feather" %}
                      Vannavgift</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {% if url_name == 'faktura-utboks' %}active{% endif %}" href="{% url 'faktura-utboks' %}">
                      {% icon "inbox" class="feather" %}
                      Utboks ({% usendte_fakturaer %})</a>
              </li>
            </ul>
            {% endwith %}
            <div class="flex-column justify-content-between align-items-center px-3">
                {% block sidebar %}{% endblock %}
            </div>
            <div class="footer-spacer"></div>
            <footer class="footer bg-dark col-md-2 text-muted text-sm align-self-end ">
                <div>
                    <p>Ansvarlig: <a href="mailto:#">Tormod Fossum</a>
                </div>
                <div class="text-align-bottom">
                    <a href="https://www.vecteezy.com/free-vector/abstract">Abstract Vectors by Vecteezy</a>
                </div>
            </footer>
          </div>
        </nav>

        <main role="main" id="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <div class="flex-row">
                <h1 class="h2">
              <button type="button" id="sidebarCollapse" class="d-md-none btn">
                    {% icon "menu" %}
              </button>{% block heading %}{% endblock %}</h1>
          </div>
            <div class="flex-row">
                <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group mr-2">
                      {% block toolbar %}{% endblock %}
                  </div>
                </div>
            </div>
          </div>
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% block content %}
          {% endblock %}
        </main>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script src="{% static 'js/tablesort.js' %}"></script>

<script>
    $(document).ready(function () {
    
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('d-none active');
            $('#main').toggleClass('col-md-9');
        });
        $('#sidebarCollapseInner').on('click', function () {
            $('#sidebar').toggleClass('d-none active');
            $('#main').toggleClass('col-md-9');
        });
    
    });
</script>

  </body>
</html>
