{% extends "brukerliste/base.html" %}
{% block content %}
    <table>
    {% for h in hytter %}
        <tr>
            <td>{{ h.eier.fornavn }}</td>
            <td>{{ h.eier.etternavn }}</td>
            <td>{{ h.eier.adresse }}</td>
            <td>{{ h.eier.postnr.postnr }}</td>
            <td>{{ h.eier.postnr.poststed }}</td>
            <td>{{ h.eier.telefon }}</td>
            <td>{{ h.eier.epost }}</td>
            <td>{{ h.eier.broyting }}</td>
            <td>{{ h.eier.faktureres }}</td>
        </tr>
    {% endfor %}
    </table>



{% endblock content %}

