{% extends "brukerliste/base.html" %}
{% block content %}
    <table>
    {% for b in brukere %}
        <tr>
            <td>
            <a href="{% url 'bruker-detail' b.pk %}">
            {{ b.etternavn }}
            </a>
            </td>
            <td>{{ b.fornavn }}</td>
            <td>{{ b.hytte.first.gnr }}</td>
            <td>{{ b.hytte.first.bnr }}</td>
            <td>{{ b.hytte.first.sone }}</td>
            <td>{{ b.adresse.first.gate }}</td>
            <td>{{ b.adresse.first.postnr.postnr }}</td>
            <td>{{ b.adresse.first.postnr.poststed }}</td>
            <td>{{ b.tlf.first.nr }}</td>
            <td>{{ b.epost }}</td>
            <td>{{ b.broyting }}</td>
            <td>{{ b.faktureres }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock content %}
