{% extends "brukerliste/base.html" %}
{% block content %}
    <table>
    {% for h in hytter %}
        <tr>
            <td>{{ h.eier.etternavn }}</td>
            <td>{{ h.eier.fornavn }}</td>
            <td>{{ h.gnr }}</td>
            <td>{{ h.bnr }}</td>
            <td>{{ h.sone }}</td>
            <td>{{ h.eier.adresse.first.gate }}</td>
            <td>{{ h.eier.adresse.first.postnr.postnr }}</td>
            <td>{{ h.eier.adresse.first.postnr.poststed }}</td>
            <td>{{ h.eier.tlf.first.nr }}</td>
            <td>{{ h.eier.epost }}</td>
            <td>{{ h.eier.broyting }}</td>
            <td>{{ h.eier.faktureres }}</td>
        </tr>
    {% endfor %}
    </table>



{% endblock content %}

