{% extends "brukerliste/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

{% crispy bform %}

<script>
    const button = document.getElementById("submit-id-submit");
    button.onclick = function setHiddenValue() { 
        const hv = document.getElementById("id_ny_hytte");
        const nh = document.getElementById("ny_hytte");
        const od = document.getElementById("overdragelse");

        if (nh.className == "collapse show") { hv.value = nh.id; }
        else if (od.className == "collapse show") { hv.value = od.id; }
        else { hv.value = "None"; }
    };

</script>

    <script>
        var select_element = document.getElementById("id_overdratt_fra");
        multi(select_element, {
            "enable_search": true,
            "search_placeholder": "Søk i brukere...",
            "non_selected_header": "Ikke valgt",
                "selected_header": "Valgt bruker",
            "limit": 1});
    </script>
{% endblock content %}

