{% extends "brukerliste/base.html" %}
{% load brukerliste_tags %}
{% block content %}
    {% if query %}
    <h1>Sokeresultater for {{ query }}:</h1>
    <h2>
        {% with results.count as total_results %}
        Fant {{ total_results }} resultat.
        {% endwith %}
    </h2>
    <table>
    {% for b in results %}
        <tr>
            <td>
            <a href="{% url 'bruker-detail' b.pk %}">
            {{ b.etternavn }}
            </a>
            </td>
            <td>{{ b.fornavn }}</td>
            <td>{{ b.hytte.first.gnr }}</td>
            <td>{{ b.hytte.first.bnr }}</td>
            <td>{{ b.hytte.first.sone }}</td>
            <td>{{ b.adresse.first.gate }}</td>
            <td>{{ b.adresse.first.postnr.postnr }}</td>
            <td>{{ b.adresse.first.postnr.poststed }}</td>
            <td>{{ b.tlf.first.nr }}</td>
            <td>{{ b.epost }}</td>
            <td>{{ b.broyting }}</td>
            <td>{{ b.faktureres }}</td>
            <td><a href="{% url 'rediger-bruker' b.pk %}">Rediger</a></td>
        </tr>
    {% empty %}
        <tr>
            <td><p>Det var ingen resultat for soket</p></td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
    <h1>Sok etter brukere</h1>
    <form action="{% url 'bruker-search' %}" method="GET">
        {{ search_form.as_p }}
        <input type="submit", value="Search">
    </form>
    {% endif %}
{% endblock %}
