{% extends "brukerliste/base.html" %}
{% load brukerliste_tags %}
{% load crispy_forms_tags %}
{% load static %}
{% load icon %}
{% block title %}Veiavgift{% endblock %}
{% block heading %}{% icon "file-plus" %} Veiavgift (Enkeltvis){% endblock %}
{% block content %}
<div class="col-xl-6">
    <form action="" method="post">
        {% csrf_token %}
        {% crispy pris_form %}
        {{ faktura_form|crispy }}
        {{ bruker_form|crispy }}
        <input class="btn btn-outline-primary" value="Lag faktura" type="submit">
    </form>
</div>

<script>
    var select_element = document.getElementById("id_brukerliste");
    multi(select_element, {
        "enable_search": true,
        "search_placeholder": "Søk i brukere...",
        "non_selected_header": "Ikke valgt",
            "selected_header": "Valgte brukere"});
</script>
{% endblock content %}
{% block sidebar %}
{% endblock %}
