{% extends "brukerliste/base.html" %}
{% load brukerliste_tags %}
{% load static %}
{% block content %}
<h1>{{ faktura.bruker }}</h1>
<ul>
    <li>{{ faktura.id }}</li>
    <li>{{ faktura.referanse }}</li>
    <li>{{ faktura.faktura_dato }}</li>
    <li>{{ faktura.betalt }}</li>
    <li>{{ faktura.get_total_sum }}</li>
</ul>
{% for fl in faktura.fakturalinje.all %}
<ul>
    <li>{{ fl.id }}</li>
    <li>{{ fl.hytte }}</li>
    <li>{{ fl.tittel }}</li>
    <li>{{ fl.pris }}</li>
    <li>{{ fl.faktura }}</li>
</ul>

<a href="{% url 'faktura-pdf' faktura.pk %}">PDF</a>

{% endfor %}
{% endblock content %}
{% block sidebar %}
{% endblock %}
