{% extends "brukerliste/base.html" %}
{% load crispy_forms_tags %}
{% load invoicing_tags %}
{% load static %}
{% block content %}
    <table class="table table-responsive-xl table-sm table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Dato</th>
                <th>Navn</th>
                <th>Hytte</th>
                <th>Sone</th>
                <th>Brøyting</th>
                <th>Total Beløp</th>
                <th>Fakturakopi</th>
                <th>Slett</th>
            </tr>
        </thead>
        <tbody>
            {% for f in fakturaer%}
            <tr>
                <td>{{ f.faktura_dato |date:"d.m.Y" }}</td>
                <td>{{ f.bruker }}</td>
                <td>{% for h in f.bruker.hytte.all %}{{ h.gnr }}-{{ h.bnr }}<br>{% endfor %}</td>
                <td>{{ f.bruker.hytte.first.sone }}</td>
                <td>{{ f.bruker.broyting }}</td>
                <td>{{ f.get_total_sum }}</td>
                <td><a href="{% url 'faktura-pdf' f.pk %}">PDF</a>
                {% if not f.bruker.epost %}
                    <i class="material-icons-outlined md-18" title="Ingen epost adresse"> info </i>
                {% endif %}
                </td>
                <td><a href="{% url 'faktura-slett' f.pk %}">Slett</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan=8>Ingen fakturaer i utboksen</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Totalt {% usendte_fakturaer %} fakturaer i utboksen</p>
    {% if usendte_fakturaer == 0 %} <p>PPPPPPPP</p> {% endif %}
{% endblock content %}
{% block sidebar %}
<ul>
    <li>
        <a href="{% url 'faktura-utboks-send' %}">Send alle fakturaene i utboksen</a>
    </li>
    <li>
        <a href="{% url 'faktura-utboks-slett' %}">Slett alle fakturaene i utboksen</a>
    </li>
    <li><a href="{% url 'faktura-utboks-send-post' %}">Marker de uten epost som sendt</a></li>
</ul>


{% endblock %}
