{% extends "brukerliste/base.html" %}
{% load crispy_forms_tags %}
{% load invoicing_tags %}
{% load static %}
{% load icon %}
{% block title %}Fakturaoversikt{% endblock %}
{% block heading %}{% icon "book-open" %} Fakturaoversikt{% endblock %}
{% block toolbar %}
<a class="mr-3" href="{% url 'faktura-lag' %}">
        <span title="Ny faktura">
            {% icon "file-plus" class="feather-md" %}
        </span>
</a>
<a class="" href="#">
        <span title="Eksporter til .csv">
            {% icon "download" class="feather-md" %}
        </span>
</a>
{% endblock %}
{% block content %}
    <table class="table table-responsive-xl table-sm table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Dato</th>
                <th>Navn</th>
                <th>Hytte</th>
                <th>Sone</th>
                <th>Brøyting</th>
                <th>Total Beløp</th>
                <th>Fakturakopi</th>
                <th>Betalt</th>
            </tr>
        </thead>
        <tbody>
            {% for f in page_obj %}
            <tr>
                <td>{{ f.faktura_dato |date:"d.m.Y" }}</td>
                <td>{{ f.bruker }}</td>
                <td>{% for h in f.bruker.hytte.all %}{{ h.gnr }}-{{ h.bnr }}<br>{% endfor %}</td>
                <td>{{ f.bruker.hytte.first.sone }}</td>
                <td>
                    {% if f.bruker.broyting %}
                    {% icon "check-square" class="feather" %}
                    {% else %}
                    {% icon "x-square" class="feather" %}
                    {% endif %}
                </td>
                <td>{{ f.get_total_sum }}</td>
                <td><a href="{% url 'faktura-pdf' f.pk %}">{% icon "file" class="feather" %} PDF</a></td>
                <td>
                    <span title="Kryss av">
                        <a href="{% url 'faktura-betalt' f.pk %}">
                            {% if f.betalt %}
                            {% icon "check-square" class="feather" %}
                            {% else %}
                            {% icon "x-square" class="feather" %}
                            {% endif %}
                        </a>
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% relative_url page_obj.previous_page_number 'page' request.GET.urlencode %}">Forrige</a>
            </li>
        {% endif %}
          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <li class="page-item active">
                  <a class="page-link" href="{% relative_url num 'page' request.GET.urlencode %}">{{ num }}</a>
              </li>
            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
              <li class="page-item">
                  <a class="page-link" href="{% relative_url num 'page' request.GET.urlencode %}">{{ num }}</a>
              </li>
            {% endif %}
          {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% relative_url page_obj.next_page_number 'page' request.GET.urlencode %}">Neste</a>
            </li>
        {% endif %}
        </ul>
     </nav>

{% endblock content %}
{% block sidebar %}
<h6 class="sidebar-heading d-flex text-muted border-bottom">{% icon "filter" class="feather" %}Filter</h6>
    {% crispy filter.form FILTER_HELPER %}
</form>

{% endblock %}
