{% extends "brukerliste/base.html" %}
{% load brukerliste_tags %}
{% load crispy_forms_tags %}
{% load static %}
{% load icon %}
{% block title %}Veiavgift (Alle){% endblock %}
{% block heading %}{% icon "file-plus" %} Veiavgift (Alle){% endblock %}
{% block content %}

<div class="col-xl-6">
    <form action="" method="post">
        {% csrf_token %}
        {{ pris_form|crispy }}
        <input class="btn btn-outline-primary" value="Lag fakturaer" type="submit">
    </form>
</div>

{% endblock content %}
{% block sidebar %}
{% endblock %}
